body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row.p-3, .o-h {
  overflow: hidden;
}

header {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background-color: #333333;
  margin-bottom: 3rem;
  padding: 1rem 0;
  color: #ffffff;
}

form {
  margin-bottom: 3rem;
}

.active {
  color: red;
}